<style type="text/css">
html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#map { width: 100%; height: 100% }
</style>
<script type="text/javascript"
        src="http://maps.google.com/maps/api/js?sensor=false&language=<%= @language %>">
</script>
<script type="text/javascript">
$(document).ready(function() {
  var options = {
    zoom:      2,
    center:    new google.maps.LatLng(20.0, 0.0),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map($("#map").get(0), options);
  $.ajax({
    type: "GET",
    url:  "/<%= @repository.full_name %>" + ".json",
    data: {},
    success: function(data) {
      $(data).each(function(index, person) {
        var title = person.name + " from \"" + person.location + "\""
        var pos  = new google.maps.LatLng(person.lat, person.lng);
        var icon = new google.maps.MarkerImage(
          person.avatar_url, null, null, null, new google.maps.Size(32, 32)
        );
        var marker = new google.maps.Marker({
          title:    title,
          position: pos,
          map:      map,
          icon:     icon,
          zIndex:   -1 * index
        });
        var content = "<img src=\"" + person.avatar_url + "\" width=\"100pxi\" /><br/>" +
                      "<label>name</label>: <a href=\"https://github.com/" + person.login + "?tab=activity\" target=\"_blank\">" + person.name + "</a><br/>" +
                      "<label>contributions</label>: <a href=\"https://github.com/<%= @repository.full_name %>/commits?author=" +
                      person.login + "\" target=\"_blank\">" + person.contributions + "</a><br/>"
        if (person.blog != null) {
          content = content + "<label>blog</label>: <a href=\"" + person.blog + "\" target=\"_blank\">" + person.blog + "</a><br/>"
        }
        content += "<label>location</label>: " + person.location + "<br/>" +
                   "<label>local time</label>: <span id=\"lt_"+ index + "\"></span><br/>"
        var info = new google.maps.InfoWindow({
          content: content
        });
        var timer = null;
        var func = function() {
          var d   = new Date();
          var utc = d.getTime() + (d.getTimezoneOffset() * 60000);
          var nd  = new Date(utc + (1000 * person.offset));
          $("#lt_" + index).text("" + nd.getFullYear() + "-" +
                                 (nd.getMonth() + 1) + "-" + 
                                 (nd.getDate()) + " " +
                                 (nd.getHours()) + ":" +
                                 (nd.getMinutes()) + ":" +
                                 (nd.getSeconds()));
        }
        var isOpen = false;
        google.maps.event.addListener(marker, 'click', function() {
          if (!isOpen) {
            info.open(map, marker);
            timer = setInterval(func, 1000);
            isOpen = true;
          } else {
            isOpen = false;
            clearInterval(timer);
            info.close();
          }
        });
        google.maps.event.addListener(info, 'closeclick', function() {
          isOpen = false;
          clearInterval(timer);
        });
      });
    },
    failure: function(data) {
      alert(data);
    }
  });
});
</script>
<div id="map"></div>
